// --------------------------------------------------------------------------
//                            PRIMARY COLOR SHADES                           
// --------------------------------------------------------------------------

$primary-color-50: #f4f7fb;
$primary-color-100: #e9f0f7;
$primary-color-200: #c8d8ea;
$primary-color-300: #a7c1dd;
$primary-color-400: #6593c4;
$primary-color-500: #2364aa;
$primary-color-600: #205a99;
$primary-color-700: #1a4b80;
$primary-color-800: #153c66;
$primary-color-900: #113153;

// --------------------------------------------------------------------------
//                           SECONDARY COLOR SHADES                          
// --------------------------------------------------------------------------

$secondary-color-0: #fff;
$secondary-color-50: #fafafa;
$secondary-color-100: #f4f4f5;
$secondary-color-200: #e4e4e7;
$secondary-color-300: #d4d4d8;
$secondary-color-400: #a1a1aa;
$secondary-color-500: #71717a;
$secondary-color-600: #52525b;
$secondary-color-700: #3f3f46;
$secondary-color-800: #27272a;
$secondary-color-900: #18181b;

// --------------------------------------------------------------------------
//                              RED COLOR SHADES                             
// --------------------------------------------------------------------------

$red-color-50: #fef2f2;
$red-color-100: #fee2e2;
$red-color-200: #fecaca;
$red-color-300: #fca5a5;
$red-color-400: #f87171;
$red-color-500: #ef4444;
$red-color-600: #dc2626;
$red-color-700: #b91c1c;
$red-color-800: #991b1b;
$red-color-900: #7f1d1d;

