.img--light{
    display: none !important;
    @include light-theme{
        display: block !important;   
    }
}

.img--dark{
    display: none !important;
    @include dark-theme{
        display: block !important;   
    }
}

.hidden{
    visibility: hidden;
    opacity: 0;
}

.hidden-modal{
    visibility: hidden;
    opacity: 0;
    
    .modal__window{
        transform: translateY(100%);
    }

}

.no-scroll{
    overflow-y: hidden;
}

.default-shadow{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}