.btn{
    all: unset;
    display: block;
    color: $secondary-color-50;
    padding: 1em 1.5em;
    border-radius: $default-radius + 0em;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    transition: background-color .3s ease, outline-color .15s ease;
    cursor: pointer;
    box-sizing: border-box;

    @include sm-size{
        display: inline-block;
    }

    &--primary{
        @extend .btn;
        background-color: $primary-color-500;

        &:hover{
            background-color: $primary-color-600;
        }

        &:focus{
            outline: 3px solid $primary-color-300;
            background-color: $primary-color-600;
        }

    }

    &--pagination{
        display: inline-block;
        width: 3rem;
        height: 3rem;
        border: unset;
        border-radius: $default-radius + 0em;
        cursor: pointer;
        color: $secondary-color-50;
        font-family: $primary-font;
        font-size: 1.05rem;
        background-color: $primary-color-500;
        transition: background-color .3s ease, color .3s ease;

        &:hover{
            background-color: $primary-color-600;
        }

        &:focus{
            outline: 3px solid $primary-color-300;
            background-color: $primary-color-600;
        }

        &:disabled{
            cursor: default;
            background-color: rgba($secondary-color-50, .1);
            color: $secondary-color-800;

            @include dark-theme{
                color: $secondary-color-50;
            }

        }

    }

}