.modal{
    position: fixed;
    inset: 0;
    height: 100vh;
    transition: visibility .3s ease, opacity .3s ease;
    overflow-y: scroll;

    &__background{
        position: fixed;
        inset: 0;
        min-height: 100vh;
        background-color: rgba($secondary-color-900, .95);
        transition: opacity .3s ease;
    }

    &__close{
        display: block;
        width: 3rem;
        height: 3rem;
        padding: .3rem;
        margin-left: auto;
        color: $secondary-color-400;
        background-color: $secondary-color-50;
        cursor: pointer;
        transition: color .3s ease, border-color .3s ease;
        -webkit-tap-highlight-color: transparent;
        border: 2px solid;
        border-color: $secondary-color-200;
        border-radius: $default-radius + 0rem;
        z-index: 10;

        @include dark-theme{
            color: $secondary-color-400;
            border-color: $secondary-color-600;
            background-color: $secondary-color-800;
        }

        &:hover{
            color: $red-color-400;
            border-color: $red-color-200;

            @include dark-theme{
                border-color: rgba($red-color-800, .5);
            }

        }

        &:active{
            color: $red-color-600;
            border-color: $red-color-300;

            @include dark-theme{
                border-color: rgba($red-color-800, .7);
            }

        }

    }

    &__window{
        display: flex;
        flex-direction: column;
        position: relative;
        min-height: 100vh;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        background-color: $secondary-color-0;
        z-index: 1;
        padding: 2rem;
        border-radius: 0;
        overflow-y: scroll;
        transition: transform .3s ease;

        @include dark-theme{
            background-color: $secondary-color-800;
        }

        @include md-size{
            margin-top: 2rem;
            width: 70%;
            min-height: 24rem;
            border-radius: $default-radius + 0rem;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none; 
            }

        }

        &__content{
            flex: 1;
        }

    }

}